.chart {
  position: relative;
  display: inline-block;
  width: 150px;
  height: 150px;
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
  /* align-self: center; */
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.chart canvas {
  position: absolute;
  top: 0;
  left: 0;
  /* align-self: center; */
}
.percent {
  display: inline-block;
  line-height: 150px;
  z-index: 2;
  margin: auto;
  position:relative;
  font-size: 35px;
  font-weight: 500;
}
.percent:after {
  content: '%';
  margin-left: 0.1em;
  font-size: .8em;
}

.forma {
  margin-left: 20%;
}

.zavrsen_zadatak {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-items: center;
}


div.zavrsen_zadatak.form-group{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
